body {
  width:100vw;
  height: 97vh;
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

header, main, footer {
  margin: 0 auto;
}
.title{
    font-size: 90px;
    color: #ffffff;
}

header {
  display: block;
  padding: 4em; 
  background-image: url('dd.jpg');
  background-size: cover; 
  text-align: center;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
} 

.plant{
  position: fixed;
  z-index: -1;
  top: 0;
  height: auto;
}

.glass {
  display: flex;
  margin-left:auto; 
  margin-right:auto;
  background: rgb(179, 93, 93);
  min-height: 1550px;
  width: 75%;
  background: linear-gradient(to left bottom, rgba(168, 235, 198, 0.7), rgba(255, 255, 255, 0.1));
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(0.5rem);
}
.container{
  position: absolute;
  width: 500px;
  height: auto;
  top: 100px;
  left: 40px;
}
.over{
  top: 0;
  position: absolute;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.container:hover .over {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.text{
  color: rgb(12, 12, 12);
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
.about{
    display: block; 
    width: 100%;
    height: 100%;
}

.cntr2{
  position: absolute;
  width: 500px;
  height: auto;
  top: 110px;
  right: 40px;
}
.hack{
  display: block;
  width: 100%;
  height: auto;
}
.cntr2:hover .over2 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.over2{
  color: rgb(0, 0, 0);
  font-size: 18px;
  top: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.cr {
  width: 100%;
  background-color: #ddd;
} 
.sk{
  width: 38%;
  background-color: #ffffff;
  font-size: 28px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 50%; background-color: #4CAF50;}
.photoshop {width: 70%; background-color: #2196F3;}
.excel {width: 60%; background-color: #4CAF50;}
.after {width: 50%; background-color: #4CAF50;}


.cntr3{
  position: absolute;
  width: 500px;
  height: auto;
  bottom: 1px;
  left: 40px;
}
.over3{
  top: 0;
  position: absolute;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.cntr3:hover .over3 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.text3{ 
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgb(12, 12, 12);
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
}
.frt{
  display: block;
  width: 100%;
  height: 100%;
}
.cntr4{
  position: absolute;
  width: 500px;
  height: 668px;
  bottom: 1px;
  right: 40px;
}
.over4{
  top: 0;
  position: absolute;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.cntr4:hover .over4 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.text4{ 
  text-align:center;  
  color: rgb(12, 12, 12);
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
}
.exp{
  display: block;
  width: 100%;
  height: 100%;
}
#ab1{
  position: absolute;
  top: 40px;
  left: 170px;
}
#ab2{
  position: absolute;
  top: 40px;
  right: 250px;
}
#ab3{
  position: absolute;
  bottom: 660px;
  left: 200px;
}
#ab4{
  position: absolute;
  bottom: 660px;
  right: 200px;
}
.icon{
  display: flex;
  justify-content: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}
.fa:hover{
    opacity: 0.6;
  }
.fa-instagram{
  background-color:  #ec7777;
  color: white;
  }
.fa-facebook{
  background-color:  #3863f0;
  color: white;  
  }

  .if{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(240, 240, 240);
    width: 275px;
    display: block;
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 1450px)
{
  .glass{
    width: 90%;
    height: 1000px;
  }
}
@media screen and (max-width: 1448px)
{
  .glass{
    width: 100%;
    height: 1000px;
  }
}
@media screen and (max-width: 1085px)
{
  .glass{
    width: 600px;
    height: 3110px;
  }
  .container{
    top: 100px;
    width: 95%;
    height: auto;
    left: 2.5%;
  }
  .cntr2{
    top: 950px;
    width: 95%;
    height: auto;
    left: 2.5%;
  }
  .cntr3{
    top: 1800px;
    width: 95%;
    height: 600px;
    left: 2.5%;
  }
  .cntr4{
    bottom: 20px ;
    width: 95%;
    height: 600px;
    left: 2.5%;
  }
  #ab1{
    position: absolute;
    top: 40px;
    left: 170px;
  }
  #ab2  {
    position: absolute;
    top: 870px;
    left: 250px;
  }
  #ab3{
    position: absolute;
    top: 1720px;
    left: 220px;
  }
  #ab4{
    position: absolute;
    bottom: 620px;
    left: 220px;
  }
}
@media screen and (max-width: 700px)
{
  .glass{
    width: 450px;
    height: 2700px;
  }
  .container{
    top: 100px;
    width: 95%;
    height: auto;
    left: 2.5%;
  }
  .cntr2{
    top: 750px;
    width: 95%;
    height: auto;
    left: 2.5%;
  }
  .cntr3{
    top: 1400px;
    width: 95%;
    height: 600px;
    left: 2.5%;
  }
  .cntr4{
    top: 2070px;
    width: 95%;
    height: 600px;
    left: 2.5%;
  }
  #ab1{
    position: absolute;
    top: 40px;
    left: 100px;
  }
  #ab2  {
    position: absolute;
    top: 670px;
    left: 190px;
  }
  #ab3{
    position: absolute;
    top: 1320px;
    left: 140px;
  }
  #ab4{
    position: absolute;
    bottom: 620px;
    left: 130px;
  }
}